# ROS 2 build folders
build/
install/
log/

# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Gazebo / logs
*.log

# OS files
.DS_Store
Thumbs.db
